.movie-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 30px;
}

.poster {
  height: 55vh;
  width: 50vw;
  object-fit: fill;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* border: 1px solid;
  border-color: white; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* .details-list {
  list-style: none;
  text-align: left;
  font-size: larger;
  border: solid 1px;
  border-color: pink;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
} */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

.flip-container,
.front,
.back {
  height: 55vh;
  width: 50vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* flip speed goes here */
.flipper {
  transition: 1s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  /* border: solid 1px;
  border-color: red; */

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* border: solid 1px;
  border-color: lightgrey; */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
  height: 55vh;
  width: 50vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.non-flip {
  height: 55vh;
  width: 50vw;
}

.flip-container .flipper,
.flip-container .flipper,
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

/* .movie-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 30px;
}

.poster {
  width: 300px;
	height: 450px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.details-list {
  padding: 1% 3% 1% 3%;
  list-style: none;
  text-align: left;
  font-size: larger;
  border: solid 1px;
  border-color: lightgray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  min-width: 40vw;
}

.unknown-text {
  font-size: 55px;
  margin-top: 170px;
  text-align: center;
}

.flip-container {
	perspective: 1000px;
}
.flip-container, .front, .back {
  width: 300px;
	height: 450px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.flipper {
	transition: 1.5s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
  border: solid 1px;
  width: 300px;
	height: 450px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}
.non-flip {
  width: 300px;
	height: 450px;
}
.flip-container .flipper, .flip-container .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
} */