.movie-header {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.movie-image {
  width: 281px;
  height: 421px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 75px;
}

.details-list {
  list-style: none;
  text-align: left;
  font-size: larger;
  border: solid;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 30px;
  width: 100%;
}

.unknown {
  border: solid;
  width: 281px;
  height: 421px;
  margin-right: 75px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.unknown-text {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}