.movie-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 50px;
}

.poster {
  width: 300px;
	height: 450px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.details-list {
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: 70px;
  list-style: none;
  text-align: left;
  font-size: larger;
  border: solid 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 35vw;
}

.unknown-text {
  font-size: 55px;
  margin-top: 170px;
  text-align: center;
}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
.flip-container, .front, .back {
  width: 300px;
	height: 450px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
/* flip speed goes here */
.flipper {
	transition: 1.5s;
	transform-style: preserve-3d;

	position: relative;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back */
.front {
	z-index: 2;
  border: solid 1px;
  width: 300px;
	height: 450px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
.non-flip {
  width: 300px;
	height: 450px;
}
.flip-container .flipper, .flip-container .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}

/* .unknown-image {
  border: solid 1px;
  width: 281px;
  height: 421px;
  margin-right: 75px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
} */
