.user-input {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.input-boxes {
  height: 50px;
  width: 50px;
  resize: none;
  margin-left: 30px;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  font-weight:bolder;
  color: black;
}

.input-boxes-correct {
  height: 50px;
  width: 50px;
  resize: none;
  margin-left: 30px;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  font-weight:bolder;
  background: lightgreen;
  color: black;
}

.input-boxes-includes {
  height: 50px;
  width: 50px;
  resize: none;
  margin-left: 30px;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  font-weight:bolder;
  background: lightyellow;
  color: black;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.input-boxes-incorrect {
  height: 50px;
  width: 50px;
  resize: none;
  margin-left: 30px;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  font-weight:bolder;
  background: pink;
  color: black;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}