.user-input {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.input-boxes {
  height: 50px;
  width: 50px;
  resize: none;
  margin-left: 30px;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  font-weight:bolder;
  color: black;
}

.input-boxes-correct {
  height: 50px;
  width: 50px;
  resize: none;
  margin-left: 30px;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  font-weight:bolder;
  background: lightgreen;
  color: black;
}

.input-boxes-includes {
  height: 50px;
  width: 50px;
  resize: none;
  margin-left: 30px;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  font-weight:bolder;
  background: lightyellow;
  color: black;
}

.input-boxes-incorrect {
  height: 50px;
  width: 50px;
  resize: none;
  margin-left: 30px;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  font-weight:bolder;
  background: pink;
  color: black;
}